/* General Styles */
body, html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
    color: #333;
}

/* Login Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

/* Login Box */
.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #0474ff;
}

/* Input Group */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: flex;
    align-items: center;
    font-weight: normal;
    margin-bottom: 10px;
    cursor: pointer;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Button */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #0474ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Register Link */
.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #0474ff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Styling untuk checkbox "Ingat Saya" */
.input-group label {
    display: flex;
    align-items: center;
    font-weight: normal;
    margin-bottom: 10px;
    cursor: pointer;
}

.input-group input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 480px) {
    .login-box {
        padding: 20px;
    }

    .login-box h1 {
        font-size: 20px;
    }

    .input-group input {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }

    .register-link {
        font-size: 12px;
    }

    footer {
        font-size: 10px;
    }
}